html,
body {
  height: 100%;
}
body {
  font-family: work sans, sans-serif;
  line-height: 1.7;
  font-size: 20px;
  color: #333;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;
}
@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
    padding: 1em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: lato, helvetica neue, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.8;
  margin: 0;
  text-transform: capitalize;
}
a {
  color: #60c17d;
  text-decoration: none;
}
a:hover {
  color: #333;
}
p a {
  color: #333;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, #85cf9b 10%);
  background: -moz-linear-gradient(transparent 90%, #85cf9b 10%);
  background: linear-gradient(transparent 90%, #85cf9b 10%);
  -webkit-box-shadow: inset 0 0 0 0 #85cf9b;
  box-shadow: inset 0 0 0 0 #85cf9b;
  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;
}
p a:hover {
  color: #fff;
  -webkit-box-shadow: inset 0 -100px 0 0 #85cf9b;
  box-shadow: inset 0 -100px 0 0 #85cf9b;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
}
pre,
code {
  overflow: auto;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #60c17d;
}
pre > code,
code > code {
  border: none;
}
pre {
  padding: 1em;
}
code {
  padding: 0.1em;
}
blockquote {
  border-left: 2px solid #60c17d;
  padding-left: 1em;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 18px;
  font-style: italic;
}

.pagination-nav {
  display: flex;
  margin: 2em 0;
  justify-content: center;
}

.pagination-nav > span {
  display: grid;
  cursor: pointer;
  place-items: center;
  padding: 7px 18px;
  border: 1px solid #eee;
  background-color: transparent;
}

.pagination-nav .option:not(.active) {
  color: #0a5;
}
.pagination-nav .option:not(.active):hover {
  background-color: #0a5;
  color: white;
}
.option.disabled:hover {
  background-color: transparent !important;
}
