:root {
  --brand-color: #60c17d;
  --text-color: #333;
  --bg-color: var(--gray-0);
  --font-family: "work sans", "sans-serif";
  --font-size-default: 22px;
}
.dark {
  --bg-color: var(--gray-9);
  --text-color: var(--gray-5);
}

body {
  font-family: var(--font-family);
  line-height: var(--font-lineheight-4);
  font-size: var(--font-size-default);
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Lato", "helvetica neue", "Helvetica", "sans-serif";
  font-weight: bold;
  letter-spacing: var(--font-letterspacing-2);
  text-transform: capitalize;
}
p {
  margin-top: 0;
}
a {
  color: var(--brand-color);
  text-decoration: none;
  transition-duration: 300ms;
}
a:hover {
  color: var(--gray-7);
}

button {
  cursor: pointer;
  color: var(--brand-color);
  background: transparent;
  border: 2px solid var(--brand-color);
  padding: var(--size-2) var(--size-4);
  border-radius: 4px;
  box-shadow: var(--shadow-1);
  transition-duration: 300ms;
  font-family: var(--font-family);
}
button:hover {
  color: var(--bg-color);
  background-color: var(--brand-color);
  box-shadow: var(--shadow-4);
}

p a {
  background: -webkit-linear-gradient(transparent 90%, #85cf9b 10%);
  background: -moz-linear-gradient(transparent 90%, #85cf9b 10%);
  background: linear-gradient(transparent 90%, #85cf9b 10%);
  -webkit-box-shadow: inset 0 0 0 0 #85cf9b;
  box-shadow: inset 0 0 0 0 #85cf9b;
  -webkit-transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  transition: all ease 500ms;
  color: var(--gray-7);
  padding: 0 var(--size-1);
  text-decoration: none;
}
p a:hover {
  -webkit-box-shadow: inset 0 -100px 0 0 #85cf9b;
  box-shadow: inset 0 -100px 0 0 #85cf9b;
  color: white;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
}
pre,
code {
  overflow: auto;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #60c17d;
}
pre > code,
code > code {
  border: none;
}
pre {
  padding: 1em;
}
code {
  padding: 0.1em;
}
blockquote {
  border-left: 2px solid #60c17d;
  padding-left: 1em;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 18px;
  font-style: italic;
}

.headline {
  font-size: var(--size-10);
  margin-top: 0;
}

.pagination-nav {
  display: flex;
  margin: 2em 0;
  justify-content: center;
}

.pagination-nav > span {
  display: grid;
  cursor: pointer;
  place-items: center;
  padding: 7px 18px;
  border: 1px solid #eee;
  background-color: transparent;
}
.pagination-nav svg path {
  fill: var(--text-color);
}

.pagination-nav .option:not(.active) {
  color: #0a5;
}
.pagination-nav .option:not(.active):hover {
  background-color: #0a5;
  color: white;
}
.option.disabled:hover {
  background-color: transparent !important;
}

.home {
  background-image: url(/left-arrow.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  opacity: 0.9;
  position: fixed;
  top: 50px;
  left: 50px;
}

.article p,
.post p {
  margin-bottom: var(--size-4);
  line-height: var(--font-lineheight-4);
  text-align: justify;
}
article .date {
  font-size: var(--font-size-2);
}

.copyrights {
  color: var(--gray-6);
}

@media screen and (max-width: 600px) {
  .headline {
    font-size: var(--font-size-5);
  }
  .article p,
  .post p {
    text-align: left;
  }
}

@media screen and (max-width: 1000px) {
  .home {
    top: 90%;
    left: 90%;
    height: 30px;
    width: 30px;
    opacity: 0.6;
  }
}
